<ion-header>
  <ion-toolbar>
    <ion-title>Submit Answers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="display: flex; flex-direction:column; align-content: center;">
    <form [formGroup]="questionForm">
        <ion-card style="width: 80%; height: 20vh; margin-top: 30px; margin-left: auto; margin-right: auto; display: flex; flex-direction: column; justify-content: space-evenly">
          <ion-item >
            <ion-label style="font-size: x-large; font-weight:700;">{{ id }}</ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label style="font-size: large; font-weight:700;">Max Marks: {{marks}}</ion-label>
          </ion-item>

          <ion-item>
              <ion-label position="floating">Enter Name</ion-label>
              <ion-input formControlName="studentName" type="text"></ion-input>
            </ion-item>
        </ion-card>
        
        <div *ngFor="let temp of questionForm.controls.questions.controls; let c = index">
            <ion-card [formGroup]="temp" style="margin-top: 20px; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
                <ion-item>
                  <ion-label position="stacked">Question {{c+1}}</ion-label>
                  <ion-input style="padding-top: 4px;" type="text" readonly> {{data[c].question}}</ion-input>
                </ion-item>
        
                <ion-item>
                  <ion-label position="floating">Answer</ion-label>
                  <ion-textarea autoGrow="true" formControlName="answer" type="text"></ion-textarea>
                </ion-item>
  
                <ion-item>
                    <ion-label position="stacked">Marks</ion-label>
                    <ion-input type="number" readonly>{{data[c].marks}} </ion-input>
                  </ion-item>
  
              </ion-card>    
        </div>
           
    </form>
  </ion-content>
  
  <ion-footer mode="ios">
      <ion-toolbar mode="ios">
        <ion-title>
            <ion-button fill="clear" size="large" (click)="submit()">
                Submit
            </ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
